extends ./layout/layout
block content
	section(class="row"): div(class="column"): div(class="row")
			div(class="large-12 columns")
				h1 Mile Hi Who
	section(id="swiping", class="row"): div(class="column"): div(class="row")
		div(class="large-12 columns")
			h3 Image of Mile Hi Whovians
	section(class="row space-top"): div(class="column"): div(class="row")
		div(class="large-12 columns main-content", id="template")
			script(type="text/template", id="groupsTemplate")
				|	<div class="group">
				|		<h3><%= group[0].name %></h3>
				|		<p class="text"><%= group[0].description %></p>
				|	</div>
