@import "./mixins/_mixins";
@import "components-ac/_variables-ac";

$font-family: Arial, Helvetica, sans-serif;
$color1: #bf4330;
$color2: #39acef;
$color2: #bef56e;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  overflow: hidden;
  font-family: "Trebuchet MS";
}

h1 {
  color: $orange;
  font-size: 1.25em;
}

header {
  width: 100%;
}

  nav {
   @include linear-gradient($grey, $off-white);
  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
     @include linear-gradient($grey, $off-white);
     ul {
        display:none;
        li {
          a {
            padding: 15px;
            background-color: $grey;
          }
        }
     }
  }
    li {
      margin: 0 auto;
      display: inline-block;
      background-color: $grey;
      @include linear-gradient($grey, $off-white);
      border-right:$regular_border;
      &:hover > ul {
        display: block;
      }
      &:last-child {
        border-right:none;
      }
    }

    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      text-align: center;
      &:hover {
        color:$red;
      }
    }
  }

form {
  .row {
    padding-top: emCalc(16);
    .large-3 {
      text-align: right;
      padding-top: 5px;
    }
    input {
      width: 100%;
    }
  }
}

.special {
  display:none;
}

footer {
  background-color: $light_grey;
  box-shadow: $inner-shadow;
  width: 100%;
  box-sizing: border-box;
  clear: both;
  position: fixed;
  min-height: 3em;
  bottom: 0;
  margin-top:3em;
  padding-top: 0.8em;
}

img {
  padding: 50px;
}


