@import "../mixins/_mixins";
@import "_variables-ac";

$font-family: Arial, Helvetica, sans-serif;
$color1: #bf4330;
$color2: #39acef;
$color2: #bef56e;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-grey;
  overflow: hidden;
  font-family: "Trebuchet MS";
}

h1 {
  color: lighten($tardis, 5%%);
  font-size: 1.25em;
}

header {
  width: 100%;
}

nav {
background-color: $off-white;
@include linear-gradient($white, $light-grey);
ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  li {
    a {
      padding: 15px;
      form {
        margin: 0 auto;
      }
      background-color:transparent;
    }
    &:hover {
      color: $red;
    }
    background-color: transparent;
  }
   ul {
      display:none;
      li {
        a {
          padding: 15px 15px 15px 15px;
        }
      }
   }
}

li {
    margin: 0 auto;
    display: inline-block;
    &:hover > ul {
      display: block;
    }
    &:last-child {
      border-right:none;
      background-color: transparent;
      border: none;
    }
  }

  a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: darken($tardis-light, 10%);
    &:hover {
      color:$red;
    }
  }
  color: $orange;
  font-size: 1.25em;
}

.main-content {
  background-color: $light-white;
  box-shadow: $standout-shadow;
}


form {
  input {
    border-radius: 10px;
  }
  padding: 0.5em;
}

#swiping {
  background-color: $tardis;
  max-width: 100%;
  box-shadow: $top-bottom-shadow;
  .swiper-slide {
    background-color: $light-grey;
  }
}

.info-box {
  background-color: $light-white;
}

.special {
  display:none;
}

.large-1-5 {
  width: 12.5%;
}

.space {
  padding-top: 1em;
  padding-bottom: 1em;
}

.space-top {
  padding-top: 1em;
}

#search {
  padding: 15px 0px 0px 0px;
}

footer {
  background-color: $med-grey;
  box-shadow: $inner-shadow;
  width: 100%;
  box-sizing: border-box;
  clear: both;
  position: fixed;
  min-height: 3em;
  bottom: 0;
  margin-top:3em;
  padding-top: 0.8em;
}

img {
  padding: 50px;
}


