script(type="text/javascript", src="/_assets/js/core/foundation/5.0.0/foundation.js")
script(type="text/javascript", src="/_assets/js/core/underscore/1.6.0/underscore.js")
script(type="text/javascript", src="/_assets/js/core/backbone/1.1.2/backbone.dev.js")
script(type="text/javascript", src="/_assets/js/app/meetupAPI.js")
script(type="text/javascript", src="/_assets/js/app/models/group.js")
script(type="text/javascript", src="/_assets/js/app/models/event.js")
script(type="text/javascript", src="/_assets/js/app/collections/groups.js")
script(type="text/javascript", src="/_assets/js/app/collections/events.js")
script(type="text/javascript", src="/_assets/js/app/views/groups.js")
script(type="text/javascript", src="/_assets/js/app/views/events.js")
script(type="text/javascript", src="/_assets/js/app/routes/routes.js")
script(type="text/javascript", src="/_assets/js/app/app.js")