footer
	section(class="row")
		div(class="column")
			div(class="row")
				div(class="large-12 columns")
					small &copy; Corliss Studios 2014
	script(type="text/javascript").
		window.onload = function() {
		  var mySwiper = new Swiper('.swiper-container',{
		    //Your options here:
		    mode:'horizontal',
		    loop: true
		    //etc..
		  });
		}