head
	title=pageTitle
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet", href="/_assets/css/main.css")
	link(rel="stylesheet", href="/_assets/css/idangerous.swiper.css")
	include startup
	script(src="/_assets/js/misc/idangerous.swiper.js")