doctype html
html
	include header
	body
		header
			nav: ul
				li: a(href='/') Home
				li: a(href='#') About
				li: a(href='#') Podcast
				li: a(href='#') Calendar
				li: a(href='#') Social
		block content
		include footer