doctype html
html
	include header
	body
		header
			nav: ul(class="row")
				li(class="large-2 columns"): a(href='/') Home
				li(class="large-2 columns"): a(href='#') Meetups
				li(class="large-2 columns"): a(href='#') Podcast
				li(class="large-2 columns"): a(href='#') Calendar
				li(class="large-2 columns"): a(href='#') About
				li(class="large-2 columns"): a(id="search" href='#')
					form: input(placeholder="search")
		block content
		include footer