script(type="text/javascript", src="/_assets/js/startup/jquery/lib/2.1.2/jquery.js")
script(type="text/javascript", src="/_assets/js/startup/fastclick/1.0.2/fastclick.js")
script(type="text/javascript", src="/_assets/js/startup/modernizer/2.8.2/modernizr.js")